node_modules
node_modules
content/en/docs/Purchase-workflow/.DS_Store
assets/icons/.DS_Store
static/assets/Libraries/.DS_Store
static/assets/Libraries/PHP/.DS_Store
static/assets/Magento/.DS_Store
static/assets/oscommerce/.DS_Store
static/assets/ShoppingCartLogos/.DS_Store
static/assets/TechnicalInformation/.DS_Store
static/assets/UserManagement/.DS_Store
static/assets/VirtueMart/.DS_Store
static/assets/WooCommerce/.DS_Store
themes/docsy/assets/vendor/Font-Awesome/.DS_Store
themes/docsy/assets/vendor/Font-Awesome/js-packages/@fortawesome/.DS_Store
