 //$td-enable-google-fonts: true;
 //$google_font_name: "Rubik";
 //$google_font_family: "font-family: 'Rubik', sans-serif;";

$dark: #F3F3F3   !default;

$primary: $dark !default;
$font-size-base: 0.9rem !default;
$lead-font-size: 0.9rem !default;
$lead-font-weight: 400 !default;

$navbar-dark-color: #F3F3F3 !default;
$navbar-dark-hover-color: #9AD828 !default;
$navbar-dark-active-color: #9AD828 !default;
$navbar-dark-disabled-color: hsla(0, 0%, 15%, 0.55) !default;

$info: rgba(#4e3fff, 0.9) !default;

$link-color:                #9AD828 !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

