// $td-enable-google-fonts: false;
// $google_font_name: "Lato";
// $google_font_family: "font-family: 'Lato', sans-serif;";

$dark: #F5F5F5   !default;

$primary: $dark !default;
$font-size-base: 0.9rem !default;
$lead-font-size: 0.9rem !default;
$lead-font-weight: 400 !default;

$navbar-dark-color: hsla(0, 0%, 15%, 0.55) !default;
$navbar-dark-hover-color: #004179 !default;
$navbar-dark-active-color: #004179 !default;
$navbar-dark-disabled-color: hsla(0, 0%, 15%, 0.55) !default;

$info: rgba(#4B80F4, 0.75) !default;

