<!-- Código para el botón de Postman Run si todavía quieres incluir la importación de la colección -->
<div class="postman-run-button"
    data-postman-action="collection/import"
    data-postman-var-1="36599722-3ed91184-6ae9-42c6-ac81-ab93b425ae23"
    data-postman-collection-url="entityId=36599722-3ed91184-6ae9-42c6-ac81-ab93b425ae23&entityType=collection&workspaceId=1c636059-76e9-4d8c-880f-d0760d03d109"></div>
<script type="text/javascript">
  (function (p,o,s,t,m,a,n) {
    !p[s] && (p[s] = function () { (p[t] || (p[t] = [])).push(arguments); });
    !o.getElementById(s+t) && o.getElementsByTagName("head")[0].appendChild((
      (n = o.createElement("script")),
      (n.id = s+t), (n.async = 1), (n.src = m), n
    ));
  }(window, document, "_pm", "PostmanRunObject", "https://run.pstmn.io/button.js"));
</script>