<div class="map-container">
    <img src="/assets/MapChart_Map.png" alt="Mapa de Latinoamérica">
    <a href="/pt/docs/payment-methods/argentina.html" class="map-point" style="left: 49.6%; top: 72%;" title="Argentina" alt="Argentina"></a>
    <a href="/pt/docs/payment-methods/brazil.html" class="map-point" style="left: 60%; top: 50%;" title="Brasil" alt="Brasil"></a>
    <a href="/pt/docs/payment-methods/chile.html" class="map-point" style="left: 44.5%; top: 74%;" title="Chile" alt="Chile"></a>
    <a href="/pt/docs/payment-methods/colombia.html" class="map-point" style="left: 38%; top: 30%;" title="Colombia" alt="Colombia"></a>
    <a href="/pt/docs/payment-methods/ecuador.html" class="map-point" style="left: 33.5%; top: 36.5%;" title="Equador" alt="Equador"></a>
    <a href="/pt/docs/payment-methods/central-america.html" class="map-point" style="left: 25%; top: 20.5%;" title="El Salvador" alt="El Salvador"></a>
    <a href="/pt/docs/payment-methods/central-america.html" class="map-point" style="left: 29%; top: 21%;" title="Nicaragua" alt="Nicaragua"></a>
    <a href="/pt/docs/payment-methods/central-america.html" class="map-point" style="left: 30%; top: 24%;" title="Costa Rica" alt="Costa Ric"></a>
    <a href="/pt/docs/payment-methods/mexico.html" class="map-point" style="left: 15%; top: 10%;" title="México" alt="México"></a>
    <a href="/pt/docs/payment-methods/paraguay.html" class="map-point" style="left: 52%; top: 61%;" title="Paraguai" alt="Paraguai"></a>
    <a href="/pt/docs/payment-methods/peru.html" class="map-point" style="left: 36%; top: 45%;" title="Peru" alt="Peru"></a>
    <a href="/pt/docs/payment-methods/uruguay.html" class="map-point" style="left: 56%; top: 72%;" title="Uruguai" alt="Uruguai"></a>
  </div>