
<img src="https://bamboo-doc-assets.s3.amazonaws.com/images/footer-barra.png" alt="footer" style="max-width: 100%;padding-bottom: 20px;">
<br>
<div class="footerContainer">
<div class="left-element">
    <b>{{ T "post_last_mod"}}</b>
    {{ if eq "en" .Language.Lang }}
    {{ .Lastmod.Format .Site.Params.time_format_default }}
    {{ else }}
    {{ .Lastmod.Day }} de {{i18n .Lastmod.Month }} de {{ .Lastmod.Year }}
    {{ end }}
</div>
<div class="right-element"><p>© Bamboo | All rights reserved <strong>{{ now.Year }}</strong></p></div>
</div>
