@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  

::marker {
    color: #004179;
    font-weight: bold;
 }

 img[alt=SellIcons] {
    height: 100px;
}

img[alt=Concepts] {
    max-width: 80% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.showMandatory {
    margin: 30px 0px 0px;
    display: block;
    text-align: right;
    color: gray;
}

#searchBox{
    background: transparent;
    border-radius: 1rem !important;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    height: calc(2.1rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.infographicDiv {
    display: inline-flex;
    padding-bottom: 80px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.lastDiv,
.longDiv, 
.DivGray {
    width: 20%;
    height: 700px;
    float:left;
    background:linear-gradient(to bottom, #EEE 90%, white);
    padding: 20px;
    position:relative;
}

.Div4,
.DivWhite {
    width: 20%;
    height: 700px;
    float:left;
    background:#FFF;
    padding: 20px;
    position:relative;
}

.img1 {
    position:absolute;
    bottom:-11.5%;
    right:0px;
    z-index: 10;
}

.img2,
.img3 {
    position:absolute;
    bottom:-12%;
    right:0px;
    z-index: 10;
}

.img4 {
    position:absolute;
    bottom:-11.2%;
    right:0px;
    z-index: 10;
}

.img5 {
    position:absolute;
    bottom:-11.2%;
    right:5px;
    left: -7%;
    z-index: 10;
}

div#banner { 
    z-index: 999;
    background-color: #DDEEEE; 
    width: 100%;
    margin-top: -1.3rem;
}

div#banner-content { 
    margin: 0 auto; 
    padding: 10px; 
}

@media (max-width: 575px) {
    .infographicDiv {
      max-width: 540px;
      display: inline-table;
      height: 1000px;
    }
    
    .DivGray {
        padding-top: 120px;
        float: initial;
        width: 100%;
        height: 400px;
    }

    .DivWhite {
        padding-top: 120px;
        float: initial;
        width: 100%;
        height: 500px;
    }

    .longDiv {
        height: 650px;   
    }

    .Div4 {
        padding-top: 100px;
        height: 550px;
    }

    .lastDiv{
        padding-top: 130px;
        height: 450px;
    }

    .img1 {
        bottom:-26.5%;
    } 

    .img2 {
        bottom:-22.5%;
    } 

    .img3 {
        bottom:-13.5%;
    } 

    .img4 {
        bottom:-19.5%;
        left:2px;
    } 

    .img5 {
        bottom:-22.5%;
        left:-11px;
    } 
}

.input-wrapper {
    position: relative;
 }

 .input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
 }

 .content-bar-menu {
    content: "";
    position: absolute;
    bottom: -13px;
    height: 3px;
    text-align: center;
    width: 100%;
    background: rgb(216, 216, 120);
    background: -moz-linear-gradient(79deg, rgba(216, 216, 120, 1) 48%, rgba(0, 127, 255, 1) 100%);
    background: -webkit-linear-gradient(79deg, rgba(216, 216, 120, 1) 48%, rgba(0, 127, 255, 1) 100%);
    background: linear-gradient(79deg, rgba(216, 216, 120, 1) 48%, rgba(0, 127, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8d878", endColorstr="#007fff", GradientType=1);
    background: linear-gradient(left, transparent 0%, #444 50%, transparent 100%);
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transform: scale(0);
}

.content-bar-menu2 {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 3px;
    text-align: center;
    width: 6%;
    background: rgb(216, 216, 120);
    background: -moz-linear-gradient(79deg, rgba(216, 216, 120, 1) 48%, rgba(0, 127, 255, 1) 100%);
    background: -webkit-linear-gradient(79deg, rgba(216, 216, 120, 1) 48%, rgba(0, 127, 255, 1) 100%);
    background: linear-gradient(79deg, rgba(216, 216, 120, 1) 48%, rgba(0, 127, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8d878", endColorstr="#007fff", GradientType=1);
    background: linear-gradient(left, transparent 0%, #444 50%, transparent 100%);
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    transform: scale(0);
}


#navbarDropdown:hover .content-bar-menu {
    transform: scale(1);
}

#navbarDropdown:focus .content-bar-menu {
    transform: scale(1);
}

#main_navbar a:hover .content-bar-menu2 {
    transform: scale(1);
}

#main_navbar a:focus .content-bar-menu2 {
    transform: scale(1);
}