.section-index {

    .entry {
        padding: .75rem;
    }

    h5 {
        margin-bottom: 0;
        border-bottom: initial;
        padding-bottom: initial !important;

        a {
            font-weight: 700;
        }
    }

    p {
        margin-top: 0;
    }
}
