.td-sidebar-nav .td-sidebar-link {
    display: block;
    padding-bottom: 0.375rem;
    /* color: #A6C307; */
    font-weight: 100;
    font-size: 13px;
}
.td-sidebar-link.td-sidebar-link__section {
    color: #004179;
}
.td-sidebar-nav__section ul {
    padding: 0;
    margin: 0px !important ;
}

.sub-section-parent {
    padding-left: 1em;
    display: none !important;
} 

.parent-with-subtopics > li  {
    margin-top: 0px !important;
}

.parent-with-subtopics > li > a {
    /* font-size: 1px !important; */
    color: hsl(210, 9%, 31%) !important;
    font-weight: 300;
}


ul.td-sidebar-nav__section.pr-md-3.parent-with-subtopics > li > a {
   /* color: hsl(210, 9%, 31%); */
   /* font-weight: 300; */
}

li.td-sidebar-nav__section-title {
    font-weight: 600;
    margin-top: 1.5em;
    text-transform: uppercase;
}


ul.td-sidebar-nav__section.pr-md-3.parent-with-subtopics > li > a {
    color: hsl(210, 9%, 31%) !important;
    font-weight: 300;
}

ul.td-sidebar-nav__section.pr-md-3.parent-with-subtopics > li > a:hover {
    color: transparent !important;
    text-shadow: 0 0 0.5px hsl(220, 100%, 70%) !important;
}

a.align-left.pl-0.pr-2.active.td-sidebar-link.td-sidebar-link__section {
    font-weight: 700;
    margin-top: 0px !important;
}



 ul.side-main {
    margin-left: 0px !important;
}

.td-sidebar-link__sub_section{
    padding-bottom: 0px;
}

li.td-sidebar-link.td-sidebar-link__sub_section_title {
    padding: 0px !important;
    line-height: 1rem !important;
}

.sub-section-child-topic {
    padding-left: 1em;
    display: none !important;
}

.sub-section-title {
    margin-top: 0px !important;
    padding-bottom: 0px;
}

nav#td-section-nav {
    background-color: #EBEFFF;
    border-right: 1px solid #dee2e6;
}


a.activeToc  { 
    font-weight: 100;
    color: hsla(202, 100%, 55%, 1) !important;
    border-left-width: 2px;
    font-weight: bold;
    /* background-color: red; */
}


.td-toc #TableOfContents a {
    font-size: 12px !important;
}

/* Estilos para la barra de desplazamiento en navegadores webkit (como Chrome y Safari) */
/* Reemplaza 'td-section-nav' con el ID o la clase de tu div */
#td-section-nav::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra de desplazamiento vertical */
    background-color: #f5f5f5; /* Color de fondo de la barra de desplazamiento */
}

/* Estilos para el control deslizante de la barra de desplazamiento */
#td-section-nav::-webkit-scrollbar-thumb {
    background-color: #204565; /* Color del control deslizante de la barra de desplazamiento */
    border-radius: 6px; /* Radio de borde del control deslizante */
}

/* Estilos para la barra de desplazamiento horizontal (si es necesario) */
#td-section-nav::-webkit-scrollbar-track {
    background-color: #EBEFFF; /* Color de fondo de la pista de la barra de desplazamiento horizontal */
}

/* Estilos para la barra de desplazamiento en Firefox */
/* Reemplaza 'td-section-nav' con el ID o la clase de tu div */
#td-section-nav {
    scrollbar-color: #204565 #f5f5f5; /* Color de la barra de desplazamiento y la pista en Firefox */
}
